<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.games37.riversdk.demo">
    <!-- 网络相关权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 谷歌商店CHECK_LICENSE权限,用于验证应用是否在谷歌商店下载 -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <!-- GooglePlay内购相关权限 -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- play licensing库需要，验证安装包许可   -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <!-- Google 相关adwords权限 -->
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" /> <!-- Optional permission for Analytics to run. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Google play服务广告ID权限 -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:name=".RiverSDKDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="${sdkOrientation}"
            android:theme="@style/WelcomeStyle"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>